This program prints Hello, Wordl!

In [1]:
print('Hello, World!')

Hello, World!

In [2]:
# The code was removed by Watson Studio for sharing.

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,higher education,higher education,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,primary education (4th grade),primary education (4th grade),at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,primary education (4th grade),primary education (4th grade),at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,higher education,5th to 9th grade,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,secondary education,secondary education,other,other,...,4,3,2,1,2,5,0,11,13,13
5,GP,M,16,U,LE3,T,higher education,secondary education,services,other,...,5,4,2,1,2,5,6,12,12,13
6,GP,M,16,U,LE3,T,5th to 9th grade,5th to 9th grade,other,other,...,4,4,4,1,1,3,0,13,12,13
7,GP,F,17,U,GT3,A,higher education,higher education,other,teacher,...,4,1,4,1,1,1,2,10,13,13
8,GP,M,15,U,LE3,A,secondary education,5th to 9th grade,services,other,...,4,2,2,1,1,1,0,15,16,17
9,GP,M,15,U,GT3,T,secondary education,higher education,other,other,...,5,5,1,1,1,5,0,12,12,13